use Mix.Config

config :exmws,
  scheme: "https",
  endpoint: "mws.amazonservices.com",
  marketplace_id: "ATVPDKIKX0DER",
  merchant_id: "Your merchant ID here",
  aws_access_key_id: "Your access key ID here",
  aws_secret_access_key: "Your secret access key here"
